*{
    margin: 0;
    padding: 0;
}

section#inicio{
    width: 100%;
    min-height: 100vh;
    background: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#inicio.inicio2{
    background: url('../img/background2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    
}

.fila{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
    padding-top: 120px;
}

.col-izq,
.col-der{
    width: 50%;
    text-align: center;
    border: 1px solid #fff;
    padding: 40px;
    min-height: 600px;
}

h2{
    font-size: 40px;
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid #fff;
}

button{
    background: white;
    color: #c85252;
    padding: 10px 30px;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    border-radius: 20px;
    
}

button:hover{
    transform: scale(0.8);
    background: black;
    color: #c85266
    
}

#figura{
    width: 210px;
    height: 210px;
    background: #72677a;
    margin: 100px auto;
    transition: 1s;
}

#figura.circulo{
    transform: rotate(360deg) scale(1.5);
    border-radius: 50%;
    background: rgb(74, 20, 223);
}

#figura.rectangulo{
    height: 300px;
    background: #ddcb2c;
}

#figura.degradado{
    background: linear-gradient(70deg, rgb(96, 139, 204), rgb(70, 211, 253));
}

#figura.gif{
    width: 300px;
    height: 250px; 
    background: url("../img/g.gif");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#figura.luna{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 50px 25px 0 #7d8edac0;
    background: transparent;
} 


#figura.estrella {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid#471145; 
    position: relative;
    transform: scale(1.8) rotate(360deg);
    background-color: transparent;
}
.estrella::after {
    position: absolute;
    border-top: 100px solid #471145;;
    border-left: 50px solid transparent;
    border-right: 50px Solid transparent;
    content: "";
    top: 30px;
    left: -50px;

}
#figura.triangulo{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgb(100, 83, 121);
    background: transparent;
}

#figura.left{
    transform: translateX(-250px);
    background: #95c6ff;
}

#figura.right{
    transform: translateX(250px);
    background: #458992;
}

#figura.topp{
    transform: translateY(150px);
    background: #927ea0;
    
}

#figura.bottom{
    transform: translateY(-80px);
    background: #8dd1ce;
}

#figura.diagonal{
    background: rgb(223, 147, 147);
    transform: rotate(45deg);
}

#panel-lateral{
    width: 400px;
    height: 100%;
    position: absolute;
    left: -450px;
    top: 0;
    z-index: 9;
    background: #020202;
    transition: 1s;
}

#panel-lateral.active{
    left: 0;
}

#panel-lateral h2{
    color: #ffffff;
    font-size: 40px;
    padding: 40px 30px;

}
#panel-lateral ul{
   width: 80%;
   margin: 20px auto;
    text-align: center;
    
}

#panel-lateral ul a{
    display: block;
    padding: 20px;
    background:rgb(219, 108, 104);
    color: #ffffff;
    margin: 20px 0;
    text-decoration: none;
    font-size: 20px;
   
 }

 #panel-lateral ul a:hover{
    border-radius: 20px;
    
}

#panel-superior{
    width: 100%;
    height: 55%;
    position: absolute;
    top: -500px;
    left: 0;
    z-index: 10;
    background: rgb(211, 177, 196);
    transition: 1s;
}

#panel-superior.active{
    top: 0;
}

#panel-superior h2{
    text-align: center;
}

#panel-superior iframe{
    position:relative;
    left: 35%;
    top: 15px;
}

#figura.ingresar{
    background: #8350ad;
}